#viewport {
  height: 400px;
  overflow: auto;
  border: 1px solid #999;
  position: relative;
}
#list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
#list li {
  height: 30px;
  padding-left: 8px;
  border-bottom: 1px solid #eee;
}
